{%extends 'base.html'%} {%block body%} {%load static%}
<section
  class="hero-wrap hero-wrap-2 js-fullheight"
  style="background-image: url('{% static 'user/images/bg_3.jpg' %}')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
    >
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="{% url 'home' %}"
              >Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <a href="{% url 'cars' %}"
            ><span>Cars <i class="ion-ios-arrow-forward"></i></span
          ></a>
        </p>
        <h1 class="mb-3 bread">{{car.name}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                      <div class="col-md-4 d-flex align-items-center">
                          <form action="#" class="request-form ftco-animate bg-primary" id="booking-form">
                      <h2>Make your trip</h2>
                            <div class="form-group">
                                <label for="vehicle" class="label">Selected Vehicle</label>
                                <p id="vehicle">{{car.name}}</p>
                            </div>
                            <div class="form-group">
                                <label for="custom-pickup" class="label">Pickup at your location?</label>
                                <input type="checkbox" value="1" id="custom-pickup" name="custom-pickup">
                            </div>
                            {% comment %} <div class="form-group" style="display:none;" id="pick-location">
                                <label for="" class="label">Pick-up location</label>
                                <input type="text" class="form-control" placeholder="Address, Airport, Station, etc">
                            </div> {% endcomment %}
                    <div class="d-flex">
                        <div class="form-group mr-2">
                        <label for="book_pick" class="label">Pick-up date</label>
                        <input type="date" class="form-control" id="book_pick" name="start_date" value="" placeholder="Date" required>
                        </div>
                      <div class="form-group ml-2">
                        <label for="book_off" class="label">Drop-off date</label>
                        <input type="date" class="form-control" id="book_off" name="end_date" value="" placeholder="Date" required>
                      </div>
                  </div>
                    <div class="form-group">
                        <input type="submit" value="Check availability &amp; and pricing" id="book-button" class="btn btn-secondary py-3 px-4">
                    </div>
                </form>
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                          <div class="services-wrap rounded-right w-100">
                              <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
                              <div class="row d-flex mb-4">
                          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                            <div class="services w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                              <div class="text w-100">
                                <h3 class="heading mb-2">Choose your pickup date and drop off date</h3>
                            </div>
                            </div>      
                          </div>
                          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                            <div class="services w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                              <div class="text w-100">
                                <h3 class="heading mb-2">Make sure the vehicle is available and fill the booking form</h3>
                              </div>
                            </div>      
                          </div>
                          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                            <div class="services w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                              <div class="text w-100">
                                <h3 class="heading mb-2">Prepare for the ride</h3>
                              </div>
                            </div>      
                          </div>
                        </div>
                        {% comment %} <p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p> {% endcomment %}
                          </div>
                      </div>
                  </div>
            </div>
      </div>
</section>

<section class="ftco-section ftco-car-details">
  <div class="container">
    <div class="row">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          {%if car_images%}
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="next"
          ></li>
          {%endif%}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="{{car.image.url}}"
              alt="First slide"
            />
          </div>
          {%if car_images%} {%for car_image in car_images%}
          <div class="carousel-item">
            <img
              class="d-block w-100 fix"
              src="{{car_image.image.url}}"
              alt="Car Image"
            />
          </div>
          {%endfor%} {%endif%}
        </div>
        {%if car_images%}
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        {%endif%}
      </div>
    </div>
    <div class="row">
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="flaticon-dashboard"></span>
              </div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Mileage
                  <span>{{car.mileage}}km/litre</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="flaticon-pistons"></span>
              </div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Transmission
                  <span>{{car.transmission}}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="flaticon-car-seat"></span>
              </div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Seats
                  <span>{{car.capacity}} Adults</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="flaticon-backpack"></span>
              </div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Luggage
                  <span>4 Bags</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="flaticon-diesel"></span>
              </div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Fuel
                  <span>{{car.fuel}}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
          <div class="d-flex justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pills-description-tab"
                  data-toggle="pill"
                  href="#pills-description"
                  role="tab"
                  aria-controls="pills-description"
                  aria-expanded="true"
                  >Features</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-manufacturer-tab"
                  data-toggle="pill"
                  href="#pills-manufacturer"
                  role="tab"
                  aria-controls="pills-manufacturer"
                  aria-expanded="true"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-review-tab"
                  data-toggle="pill"
                  href="#pills-review"
                  role="tab"
                  aria-controls="pills-review"
                  aria-expanded="true"
                  >Review</a
                >
              </li>
            </ul>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-description"
              role="tabpanel"
              aria-labelledby="pills-description-tab"
            >
              <div class="row">
                {%if car%} {%for car_feature in car.features.all%}
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check">
                      <span class="ion-ios-checkmark"></span
                      >{{car_feature.name}}
                    </li>
                  </ul>
                </div>
                {%endfor%} {%endif%}
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="pills-manufacturer"
              role="tabpanel"
              aria-labelledby="pills-manufacturer-tab"
            >
              <p>{{car.description}}</p>
            </div>

            <div
              class="tab-pane fade"
              id="pills-review"
              role="tabpanel"
              aria-labelledby="pills-review-tab"
            >
              <div class="row">
                <div class="col-md-7">
                  <h3 class="head">23 Reviews</h3>
                  <div class="review d-flex">
                    <div
                      class="user-img"
                      style="background-image: url(images/person_1.jpg)"
                    ></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                        </span>
                        <span class="text-right"
                          ><a href="#" class="reply"
                            ><i class="icon-reply"></i></a
                        ></span>
                      </p>
                      <p>
                        When she reached the first hills of the Italic
                        Mountains, she had a last view back on the skyline of
                        her hometown Bookmarksgrov
                      </p>
                    </div>
                  </div>
                  <div class="review d-flex">
                    <div
                      class="user-img"
                      style="background-image: url(images/person_2.jpg)"
                    ></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                        </span>
                        <span class="text-right"
                          ><a href="#" class="reply"
                            ><i class="icon-reply"></i></a
                        ></span>
                      </p>
                      <p>
                        When she reached the first hills of the Italic
                        Mountains, she had a last view back on the skyline of
                        her hometown Bookmarksgrov
                      </p>
                    </div>
                  </div>
                  <div class="review d-flex">
                    <div
                      class="user-img"
                      style="background-image: url(images/person_3.jpg)"
                    ></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                        </span>
                        <span class="text-right"
                          ><a href="#" class="reply"
                            ><i class="icon-reply"></i></a
                        ></span>
                      </p>
                      <p>
                        When she reached the first hills of the Italic
                        Mountains, she had a last view back on the skyline of
                        her hometown Bookmarksgrov
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="rating-wrap">
                    <h3 class="head">Give a Review</h3>
                    <div class="wrap">
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          (98%)
                        </span>
                        <span>20 Reviews</span>
                      </p>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          (85%)
                        </span>
                        <span>10 Reviews</span>
                      </p>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          (70%)
                        </span>
                        <span>5 Reviews</span>
                      </p>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          (10%)
                        </span>
                        <span>0 Reviews</span>
                      </p>
                      <p class="star">
                        <span>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          <i class="ion-ios-star"></i>
                          (0%)
                        </span>
                        <span>0 Reviews</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="card">
            <div class="text-right cross ion-ios-close-circle-outline" onClick="$('#myModal').modal('hide');"></div>
            <div class="card-body text-center"> 
                <img src={% static "user/images/loc.png" %} style="width:100px;height:100px" class="mb-3">
                <h4 id="modal-title" class="mb-3">Hooray!</h4>
                <p id="modal-content" class="black"></p> 
                <p class="black">Note: Total cost may vary based on the pick-up location you have opted</p>
                <a class="btn btn-out btn-square continue mb-3" href="{% url 'car-detail' car.name %}" id="modal-button">Try Again</a>
            </div>
        </div>
    </div>
</div>
    <!-- Modal Ends-->
<script>
  let reservationCheckUrl= "{% url 'api-availability-check' %}"
  let cId={{car.id}}
</script>
<script src="{% static 'user/js/car-booking.js' %}"></script>
{%endblock%}
